.DS_Store
__pycache__/
.claude
archive/

# raw participant files
data/*/
pilot/episodic-choice-task/data/*/

# images
stimuli/images/
stimuli/images_ORIGINAL_HIGHRES/

# pilot data and images
pilot/ALL_PREVIOUS/pilot-mem-choice/data/
pilot/ALL_PREVIOUS/pilot-mem-inc-ep/data/
pilot/ALL_PREVIOUS/pilot-stimuli/MemCat_Dataset.zip
pilot/ALL_PREVIOUS/pilot-stimuli/airplanes/
pilot/ALL_PREVIOUS/pilot-stimuli/highmem/
pilot/ALL_PREVIOUS/pilot-stimuli/lowmem/
pilot/ALL_PREVIOUS/pilot-stimuli/unique_objects/
